
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sanchez&display=swap');


.container{
    margin-bottom: 100px;
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
}